<template>
 <main role="main">
      <div class="py-5 bg-light">
        <div class="container">
          {{ findX() }}
        </div>
      </div>
    </main>
</template>

<script>
export default {
  	name: 'app',
  	props: {
    	msg: 'Find.'
  	},
	methods: {
		findX: function() {
			var text = "";
			const j = 3;
			var i = 1;
			const data = [j];
			for (i = 1; i < 30; i++) {
			  data.push(j+(i*2));
			}
            
			return data.join();
		}
	}
}
</script>

<style scoped>
  main { 
    padding-top: 50px;
  }
</style>
