<template>
  <footer class="text-muted">
    <div class="container">
      Footer of Assignment Vuejs (SCG TEST)
    </div>
  </footer>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
