<template>
 <main role="main">
    <div class="py-5 bg-light">
      <div class="container">
        {{ msg }}
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  main { 
    padding-top: 50px;
  }
</style>
