<template>
 <main role="main">
      <div class="py-5 bg-light">
        <div class="container">
          {{ pageMsg }}
        </div>
      </div>

    </main>
</template>

<script>
export default {
  name: 'TEST',
  props: {
    msg: 'This TEST!! Page.'
  },
  data: function () {
    return {
      pageMsg: 'This test page!!!!.'
    }
  }
}
</script>

<style scoped>
  main { 
    padding-top: 50px;
  }
</style>
